In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel("Linear Regression.xlsx")

In [3]:
df

        price  sqft_living  bedrooms  bathrooms  floors
0      221900         1180         3       1.00     1.0
1      538000         2570         3       2.25     2.0
2      180000          770         2       1.00     1.0
3      604000         1960         4       3.00     1.0
4      510000         1680         3       2.00     1.0
...       ...          ...       ...        ...     ...
21608  360000         1530         3       2.50     3.0
21609  400000         2310         4       2.50     2.0
21610  402101         1020         2       0.75     2.0
21611  400000         1600         3       2.50     2.0
21612  325000         1020         2       0.75     2.0

[21613 rows x 5 columns]

In [4]:
df.isnull().sum()

price          0
sqft_living    0
bedrooms       0
bathrooms      0
floors         0
dtype: int64

In [5]:
o=pd.DataFrame([df.price]).T
df.drop(['price'],axis=1,inplace=True)

In [6]:
o.shape

(21613, 1)

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
from sklearn.metrics import r2_score,mean_squared_error

In [9]:
model=LinearRegression()

In [12]:

    for feature in df.columns:
        model=LinearRegression()
        x=pd.DataFrame([df[feature]]).T
        model.fit(X=x,y=o)
        print("Coefficient for price and ",feature," is :", model.coef_)
        print("For every one unit change in ",feature,", there will ", model.coef_[0][0]," units change in price")
        print("Intercept for price and ",feature," is :", model.intercept_)
        print("At Zeroth unit of the ",feature,", price will be at ", model.intercept_[0])
        
        print(" ")

Coefficient for price and  sqft_living  is : [[280.62356663]]
For every one unit change in  sqft_living , there will  280.62356663364545  units change in price
Intercept for price and  sqft_living  is : [-43580.74032709]

Coefficient for price and  bedrooms  is : [[121716.12623836]]
For every one unit change in  bedrooms , there will  121716.12623836346  units change in price
Intercept for price and  bedrooms  is : [129802.3573789]

Coefficient for price and  bathrooms  is : [[250326.51555367]]
For every one unit change in  bathrooms , there will  250326.51555367225  units change in price
Intercept for price and  bathrooms  is : [10708.31025193]

Coefficient for price and  floors  is : [[174588.80996645]]
For every one unit change in  floors , there will  174588.80996644803  units change in price
Intercept for price and  floors  is : [279198.51524169]

Now creating model with all features at a time

In [13]:
model.fit(X=df,y=o)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
print("Coefficients for the model ", model.coef_)

Coefficients for the model  [[   309.39322755 -57847.96368561   7853.52348278    200.49434887]]

In [15]:
print("Intercept for the model ", model.intercept_)

Intercept for the model  [74669.67652324]